<nav class="blue darken-3">
    <div class="nav-wrapper container">

        <a href="/dashboard" class="brand-logo center">Basic Media</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large">
        <i class="fa fa-bars"></i></a>
        <ul class="sidenav" id="mobile-demo">
            <li><a href="/profile/view">Your Profile</a></li>
            <li><a href="/profile/update">Update Your Profile</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        </ul>
    </div>
</nav>