<h3>BASIC MEDIA</h3>
<div class="section">
    <p class="lead">just a basic media</p>
</div>

<div class="divider"></div>

<div class="section">
    <a href="/auth/google" class="btn blue darken-1">
        <i class="fab fa-google left"></i> Log in with Google
    </a>
</div>